/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body::after {
  content: "";
  background: url('bg.jpg');
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
